{% extends "base.html" %}



{% block contenido_principal %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Persona</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Hogar</a></li>
          <li class="breadcrumb-item active">Persona</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">

  <!-- Default box -->
  <div class="card">
  <div >
      <div >
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Datos Personales</h6>
          </div>
          <div class="card-body">
              <form action="">
                <div class="input-group mb-3 ">
                    <span class="input-group-text">Nombres</span>
                    <input type="text" aria-label="Nombres" class=" form-control" id="txtnombres" placeholder="Ingrese sus nombres">
                </div>
                <div class="input-group mb-3 ">
                  <span class="input-group-text">Apellidos</span>
                    <input type="text"aria-label="Apellidos" class="form-control" id="txtapellidos" placeholder="ingrese sus apellidos">
                </div>
                <div class="input-group mb-3 " >
                  <span class="input-group-text">Nro de Cedula</span>
                    <input type="text"aria-label="CI" class="form-control" id="txtci" placeholder="Numero de Cedula">
                </div>
                <div  class="input-group mb-3 ">
                  <span class="input-group-text">Direccion</span>
                    <input type="text" aria-label="Direccion"class="form-control" id="txtdireccion" placeholder="Direccion">
                </div>
                <button type="button" class="btn btn-primary" id="btncrear">Crear</button>
                <button type="button" class="btn btn-secondary" id="btnlimpiar">Limpiar formulario</button>
              </form>
          </div>
      </div>
  </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>



​        
{% endblock %}

{% block mi_javascript %}
<script src="{{ url_for('static', filename='js_operacional/referenciales/persona.js') }}"></script>
{% endblock %}



